opencv-python-headless
numpy
pandas
scikit-image
scipy
tqdm
scikit-learn
joblib
lightgbm
xgboost
sentence-transformers
python-multipart
matplotlib
tensorflow
shap
streamlit
langchain-huggingface
langchain-chroma
openai
python-dotenv
tf-keras