opencv-python-headless
numpy<2
pandas
scikit-image
scipy
tqdm
scikit-learn
joblib
lightgbm
python-multipart
matplotlib
tensorflow
shap
streamlit
langchain-huggingface
langchain-chroma
openai
python-dotenv